<!DOCTYPE html>
<html ng-app="WordcountApp">
<head>
	<title>WordCount</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<style>
		.container {
			max-width: 1000px;
		}
	</style>
</head>
<body ng-controller="WordcountController">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-sm-offset-1">
				<h1>WordCount 3000</h1>
				<br />
				<form ng-submit="getResults()" role="form">
					<div class="form-group">
						<input type="text" ng-model="input_url" name="url" class="form-control" id="url-box" placeholder= "Enter URL..." style="max-width: 300px;" required>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
			<br />
			<div class="col-sm-5 col-sm-offset-1">
				<h2>Frequencies</h2>
				<br />
				<div id="results">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Word</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody>
							{% raw %}
							<tr ng-repeat="(key, value) in wordcounts">
								<td>{{key}}</td>
								<td>{{value}}</td>
							</tr>
							{% endraw %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>